exportPattern("^[[:alpha:]]+")
export(ctest)
export(rhtest)
export(exomepeak)
export(bltest)
export(RMT)
import(txdbmaker)
importFrom(txdbmaker, makeTxDbFromGFF)
import(Rsamtools)
import(GenomicAlignments)

